.content-login{
    display: flex;

    justify-content: center;
    align-items: center;
}


.login-img{
    width:75%;
    height: 100%;
    
}


.grid1 {
 
    padding: 7rem;
    box-shadow: 0 1rem 1.7rem rgba(12, 3, 27, 0.12);
 
    margin-top: 5rem;
    margin-bottom: 5rem;
    
  }



  .form_input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
  }
  .form_input[type="submit"] {
    cursor: pointer;
    text-decoration: none;
  }
  
  .form {
    display: grid;
    gap: 0.875rem;
  }
  .form .form_input[type="password"],
  .form .form_input[type="text"],
  .form .form_input[type="email"],
 
  .submitButton {
    inline-size:160%;
  }

  .form_field {
    display: flex;
    
    width: 120%;
    padding-bottom: 10px;
  }
  .form_field i{
    color: var( --card-bg-02);
  }
  .form_input {
    flex: 1;
  }
  .form_input1 {
    flex: 1;
  }
  .login {
    color:var(--primary-color);
  }
  .login label,
  .login .form_input[type="text"],
  .login .form_input[type="password"],
  .login .form_input[type="email"],
  .submitButton {
    border-radius:0.25rem;
    padding: 1rem;
    
  }
  .login label,
  .login .form_input1[type="text"],
  .login .form_input1[type="date"],
  .login .form_input1[type="password"],
  .login .form_input1[type="email"],
  .submitButton {
    border-radius:0.25rem;
    padding: 1rem;
    
  }
  .login label {
    background-color: var(--primary-color);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-inline: 1.25rem;
  }
  .login .form_input[type="password"],
  .login .form_input1[type="date"],
  .login .form_input[type="text"],
  .login .form_input[type="email"]{
    background-color: white;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid var(--card-bg-02) ;
  }
  .login .form_input1[type="password"],
  .login .form_input1[type="text"],
  .login .form_input1[type="email"] {
    background-color: white;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid var(--card-bg-02) ;
  }

  .submitButton {
    background-color: var(--card-bg-02);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
 

  .text--center {
    text-align: center;
   
    
  }

  .title{
    text-align: center;
    color: var(--card-bg-02);
    font-weight: 800;
  }